CASE STUDY: CAR ACCIDENT SEVERITY

IBM APPLIED DATA SCIENCE SPECIALIZATION CAPSTONE <br>
Prepared By Abang Emenyi

2. Data

2.1. Data Understanding <br>
To understand the data, we first have to read it in, call the first five rows, and describe it.

In [5]:
import pandas as pd
import numpy as np

In [7]:
df = pd.read_csv('https://s3.us.cloud-object-storage.appdomain.cloud/cf-courses-data/CognitiveClass/DP0701EN/version-2/Data-Collisions.csv')
df.head()

,SEVERITYCODE,X,Y,OBJECTID,INCKEY,COLDETKEY,REPORTNO,STATUS,ADDRTYPE,INTKEY,...,ROADCOND,LIGHTCOND,PEDROWNOTGRNT,SDOTCOLNUM,SPEEDING,ST_COLCODE,ST_COLDESC,SEGLANEKEY,CROSSWALKKEY,HITPARKEDCAR
0,2,-122.323148,47.703140,1,1307,1307,3502005,Matched,Intersection,37475.0,...,Wet,Daylight,NaN,NaN,NaN,10,Entering at angle,0,0,N
1,1,-122.347294,47.647172,2,52200,52200,2607959,Matched,Block,NaN,...,Wet,Dark - Street Lights On,NaN,6354039.0,NaN,11,From same direction - both going straight - bo...,0,0,N
2,1,-122.334540,47.607871,3,26700,26700,1482393,Matched,Block,NaN,...,Dry,Daylight,NaN,4323031.0,NaN,32,One parked--one moving,0,0,N
3,1,-122.334803,47.604803,4,1144,1144,3503937,Matched,Block,NaN,...,Dry,Daylight,NaN,NaN,NaN,23,From same direction - all others,0,0,N
4,2,-122.306426,47.545739,5,17700,17700,1807429,Matched,Intersection,34387.0,...,Wet,Daylight,NaN,4028032.0,NaN,10,Entering at angle,0,0,N

The data comprises 37 columns and 194,673 rows.

2.2. DATA EXPLORATION

In [8]:
df.describe()

,SEVERITYCODE,X,Y,OBJECTID,INCKEY,COLDETKEY,INTKEY,SEVERITYCODE.1,PERSONCOUNT,PEDCOUNT,PEDCYLCOUNT,VEHCOUNT,SDOT_COLCODE,SDOTCOLNUM,SEGLANEKEY,CROSSWALKKEY
count,194673.000000,189339.000000,189339.000000,194673.000000,194673.000000,194673.000000,65070.000000,194673.000000,194673.000000,194673.000000,194673.000000,194673.000000,194673.000000,1.149360e+05,194673.000000,1.946730e+05
mean,1.298901,-122.330518,47.619543,108479.364930,141091.456350,141298.811381,37558.450576,1.298901,2.444427,0.037139,0.028391,1.920780,13.867768,7.972521e+06,269.401114,9.782452e+03
std,0.457778,0.029976,0.056157,62649.722558,86634.402737,86986.542110,51745.990273,0.457778,1.345929,0.198150,0.167413,0.631047,6.868755,2.553533e+06,3315.776055,7.226926e+04
min,1.000000,-122.419091,47.495573,1.000000,1001.000000,1001.000000,23807.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.007024e+06,0.000000,0.000000e+00
25%,1.000000,-122.348673,47.575956,54267.000000,70383.000000,70383.000000,28667.000000,1.000000,2.000000,0.000000,0.000000,2.000000,11.000000,6.040015e+06,0.000000,0.000000e+00
50%,1.000000,-122.330224,47.615369,106912.000000,123363.000000,123363.000000,29973.000000,1.000000,2.000000,0.000000,0.000000,2.000000,13.000000,8.023022e+06,0.000000,0.000000e+00
75%,2.000000,-122.311937,47.663664,162272.000000,203319.000000,203459.000000,33973.000000,2.000000,3.000000,0.000000,0.000000,2.000000,14.000000,1.015501e+07,0.000000,0.000000e+00
max,2.000000,-122.238949,47.734142,219547.000000,331454.000000,332954.000000,757580.000000,2.000000,81.000000,6.000000,2.000000,12.000000,69.000000,1.307202e+07,525241.000000,5.239700e+06

Next is to create the dataframe with the relevant attributes

As this is a supervised machine learning project, the data to be used is labelled. The index column of the data contains the dependent/target variable, which classifies the probability of an accident occurring into 5 categories, ranging from zero (little to no probability) to four (high probability).

The data for this project was obtained from the city of Seattle.

Data Preparation <br>

Even though the dataset contains several columns, only four of those columns are of the most value to us and will be used to build our model. The four independent variables are:

<br>
The target column or dependent variable
<br>
SEVERITY CODE <br>

And the Independent variables

WEATHER <br>
ROADCOND <br>
LIGHTCOND <br>

We will now select our dataframe

In [9]:
df_seattle = df[['SEVERITYCODE','WEATHER','ROADCOND','LIGHTCOND']]
df_seattle.head(9)

   SEVERITYCODE   WEATHER ROADCOND                LIGHTCOND
0             2  Overcast      Wet                 Daylight
1             1   Raining      Wet  Dark - Street Lights On
2             1  Overcast      Dry                 Daylight
3             1     Clear      Dry                 Daylight
4             2   Raining      Wet                 Daylight
5             1     Clear      Dry                 Daylight
6             1   Raining      Wet                 Daylight
7             2     Clear      Dry                 Daylight
8             1     Clear      Dry                 Daylight

Though we have dropped the unnecessary columns, the dataset is still not ready for analysis and modeling yet. Some of the features are of object data types, which we need to cast to numeric data types. Also, the target feature is not balanced. We therefore need to use a simple statistical technique to balance it.

In [11]:
df_seattle["SEVERITYCODE"].value_counts()

1    136485
2     58188
Name: SEVERITYCODE, dtype: int64

In [12]:
from sklearn.utils import resample

In [14]:
df_seattle_maj = df_seattle[df_seattle.SEVERITYCODE==1]
df_seattle_min = df_seattle[df_seattle.SEVERITYCODE==2]

df_seattle_maj_dsample = resample(df_seattle_maj,
                                replace=False,
                                n_samples=58188,
                                random_state=123)

balanced_seattle = pd.concat([df_seattle_maj_dsample, df_seattle_min])

balanced_seattle.SEVERITYCODE.value_counts()

2    58188
1    58188
Name: SEVERITYCODE, dtype: int64